@font-face {
  font-family: "iconfont"; /* Project id 2544457 */
  src: url('//at.alicdn.com/t/font_2544457_tkj70lajcv.woff2?t=1620826656177') format('woff2'),
       url('//at.alicdn.com/t/font_2544457_tkj70lajcv.woff?t=1620826656177') format('woff'),
       url('//at.alicdn.com/t/font_2544457_tkj70lajcv.ttf?t=1620826656177') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
    content: "\e600";
    /* �޸���ɫ */
    color: black;
    /* �޸Ĵ�С */
    font-size: 23px;
}

.icon-bilibili:before {
    content: "\e602";
    /* �޸���ɫ */
    color: blue;
    /* �޸Ĵ�С */
    font-size: 24px;
}


.icon-github1:before {
    content: "\e811";
    /* �޸���ɫ */
    color: blue;
    /* �޸Ĵ�С */
    font-size: 24px;
}

.icon-shejiaotubiao-03:before {
  content: "\e641";
}

.icon-csdn-copy-copy:before {
    content: "\e601";
    /* �޸���ɫ */
    color: red;
    /* �޸Ĵ�С */
    font-size: 23px;
}

